.tab-nav-container {
  display: flex;
  margin: 0 auto;
  width: 90vw;
  justify-content: space-around;
}

.tab-btn {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
  color: #b6a9a9;
  border-bottom: 3px solid transparent;
  transition: color 0.3s ease, border-color 0.3s ease,
    background-color 0.3s ease;
}

hr {
  margin-top: 0;
}

.tab-btn.active {
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-bottom: 3px solid #ffd000;
}

.tab-btn:hover:not(.active) {
  color: #ffffff;
}
