.task-area-container {
  background: rgba(3, 14, 12, 0.247);
  color: bisque;
  height: 58vh;
  overflow-y: auto;
  margin-top: 15px;
  border-radius: 5px;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 50px;
  }
}

.task-area-container:hover {
  &::-webkit-scrollbar-thumb {
    background-color: rgba(182, 168, 167, 0.637);
    border: 2px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(182, 168, 167, 0.9);
    cursor: pointer;
  }
}
